<div class="row justify-content-between">
  <div class="col-md-4">
    <h2>Sign up</h2>
  </div>
  <div class="col-md-4">
    <%= render "devise/shared/links" %>
  </div>
</div>

<p class="description">Sign up for a free account</p>
<p id="alert"><%= alert %></p>
<hr></hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="form-group">
      <div class="item-check">
        <input type="checkbox" id="term-service" required>
        <label class="description">I have read and agree to the 
          <a href="#" target="_blank">Terms of Service</a>
        </label>
      </div>
    </div>

    <div class="row actions justify-content-center">
      <%= f.submit "Continue", class: "btn btn-login" %>
    </div>
<% end %>
