<h1>OdunAuction</h1>

<p>Hello <%= @order.user.email %></p>
<p>Thank you for your recent purchases from OdunAuction</p>
<p>Your <%= link_to @order.product.name, detail_product_url(@order.product) %> has been shipped. Delivery usually takes 2-10 days
after it leave our warehouse</p>

<p>Click <%= link_to 'here', orders_url %> to review your orders</p>