<h1>OdunAuction</h1>

<p>Hello <%= @seller.email %></p>
<p>You are seller of <%= link_to @product.name, detail_product_url(@product) %> 
	 and <%= @sender.email %> want to contact you</p>

<p>Message: </p>
<p>" <%= @message %> "</p>