<h1>OdunAuction</h1>
<p>Hello <%= @winner.username %></p>
<p>You won an auction of <%= link_to @product.name, detail_product_url(@product) %></p>
<p><%= link_to 'See your orders list here.', review_carts_url %></p>