 <div class="customer-sidebar col-xl-3 col-lg-4 mb-md-5">
  <div class="customer-profile">
    <a href="#" class="d-inline-block">
      <img src="<%= gravatar_link(@user, size: 200) %>" class="img-fluid rounded-circle customer-image">
    </a>
    <h5><%= @user.full_name ? @user.full_name : @user.email %></h5>
    <p class="text-muted text-small">
      <% if @user.city.present? %>      
        <%= @user.city %>
        <%= ", #{@user.country}" if @user.country.present? %>
      <% else %>
        <%= @user.country if @user.country.present? %>      
      <% end %>
    </p>
  </div>

  <nav class="list-group customer-nav">
    <%= link_to orders_path, class:" list-group-item 
                                     d-flex justify-content-between 
                                     align-items-center", id:"orders-nav" do %>
      <span>
        <span class="icon icon-bag"></span>
        Orders
      </span>
      <small class="badge badge-pill badge-purple"><%= @user.orders.length %></small>
    <% end %>
    
    <%= link_to user_path(@user), class:"list-group-item 
                                         d-flex justify-content-between 
                                         align-items-center", id:"profile-nav" do %>
      <span>
        <span class="icon icon-profile"></span>
        Profile
      </span>
    <% end %>
    
    <% if @user == current_user %>
      <%= link_to edit_user_path(@user), class:"list-group-item 
                                           d-flex justify-content-between 
                                           align-items-center", id:"edit-profile-nav" do %>
        <span>
          <span class="icon icon-profile"></span>
          Edit Profile
        </span>
      <% end %>  
    <% end %>

    <% if @user == current_user %>
      <%= link_to wishlist_users_path, class:"list-group-item 
                                           d-flex justify-content-between 
                                           align-items-center", id:"wishlist-nav" do %>
        <span>
          <span class="icon icon-heart"></span>
          Wishlist
        </span>
      <% end %>  
    <% end %>
    
    <%= link_to destroy_user_session_path, method: :delete, 
                class:"list-group-item d-flex 
                justify-content-between 
                align-items-center" do %>
      <span>
        <span class="fa fa-sign-out"></span>
        Log out
      </span>
    <% end %>
  </nav>
</div>

<script>
  var url = window.location.href.split('/');
  if(url.includes("orders"))
    $('#orders-nav').addClass("active")
  if(url.includes("profile"))
    $('#profile-nav').addClass("active")
  if(url.includes("wishlist"))
    $('#wishlist-nav').addClass("active")
  if(url.includes("users")) {
    if(url.includes("edit"))
      $('#edit-profile-nav').addClass("active")
    else
      $('#profile-nav').addClass("active");  
  }
</script>