<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h1>Your profile</h1>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
          <li class="breadcrumb-item active">Your profile</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="padding-small">
  <div class="container">
    <div class="row">
      <!-- Customer Sidebar-->
      <%= render 'sidebar' %>
      
      <div class="col-lg-8 col-xl-9 pl-lg-3">
        <div class="block-header mb-5">
          <h5>Edit personal details</h5>
        </div>
        <%= form_with model: current_user, class: "content-block" do |f| %>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :full_name, class:"form-label"%>
                <%= f.text_field :full_name, class:"form-control", placeholder: "Nguyễn Văn A" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :username, class:"form-label"%>
                <%= f.text_field :username, class:"form-control", placeholder: "khoahoctunhien" %>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :phone, class:"form-label"%>
                <%= f.text_field :phone, class:"form-control", placeholder: "09xxxxxxxx" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label "Street Address", class:"form-label"%>
                <%= f.text_field :street_addr, class:"form-control", placeholder: "227 Nguyễn Văn Cừ" %>
              </div>
            </div>
          </div>
          <!-- /.row-->
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <%= f.label :zip_code, class:"form-label"%>
                <%= f.number_field :zip_code, class:"form-control", placeholder: "748417" %>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <%= f.label :district, class:"form-label"%>
                <%= f.text_field :district, class:"form-control", placeholder: "5" %>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <%= f.label :city, class:"form-label"%>
                <%= f.text_field :city, class:"form-control", placeholder: "TP Hồ Chí Minh" %>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <%= f.label :country, class:"form-label"%>
                <%= f.text_field :country, class:"form-control", placeholder: "Việt Nam" %>
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-template"><i class="fa fa-save"></i>Save changes</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>