<h2>Forgot your password?</h2>

<p class="description">Send reset password instructions</p>
<hr></hr>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <p><%= devise_error_messages! %></p>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="row actions justify-content-center">
    <%= f.submit "Reset password", class: "btn btn-login" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
