<tr class="order-row">
  <th>#<%= order.id %></th>
  <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
  <td>$<%= order.amount %></td>
  <td>
    <% if order.is_paid %>
      <span class="badge badge-success">Paid</span>
    <% else %>
      <span class="badge badge-warning">Unpaid</span>    
    <% end %>
  </td>
  <td>
    <a href="#" class="btn btn-primary btn-sm">View</a>
  </td>
</tr>