<footer class="main-footer">
  <!-- Service Block-->
  <div class="services-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="icon-truck"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">Free shipping &amp; return</h6><span>Free Shipping over $300</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="icon-coin"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">Money back guarantee</h6><span>30 Days Money Back Guarantee</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="icon-headphones"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">028-123-456</h6><span>24/7 Available Support</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Block -->
  <div class="main-block">
    <div class="container">
      <div class="row">
        <div class="info col-lg-4">
          <div class="logo">
          <%= image_tag 'footer.svg', class: "img-fluid logo-brand" %>
          <span class="text-bold text-white" >ODUNAUCTION</span>
          </div>
          <p>Thank you for choosing us today</p>
          <ul class="social-menu list-inline">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="site-links col-lg-2 col-md-6">
          <h5 class="text-uppercase">Categories</h5>
          <ul class="list-unstyled">
            <% @categories.each do |category| %>
              <li><%= link_to category.name.titlecase, category_path(category.name.downcase) %></li>
            <% end %>
          </ul>
        </div>
        <div class="site-links col-lg-2 col-md-6">
          <h5 class="text-uppercase">Customer</h5>
          <ul class="list-unstyled">
            <li> <a href="#">Login</a></li>
            <li> <a href="#">Register</a></li>
            <% if @user %>
            <li>
              <%= link_to "Wishlist", wishlist_users_path %>
            </li>
            <% end %>
            <li> <a href="#">Our Products</a></li>
            <li> <a href="#">Checkouts</a></li>
          </ul>
        </div>
        <div class="newsletter col-lg-4">
          <h5 class="text-uppercase">Daily Offers &amp; Discounts</h5>
          <p> Enter your email here to contact us</p>
          <form action="#" id="newsletter-form">
            <div class="form-group">
              <input type="email" name="subscribermail" placeholder="Your Email Address">
              <button type="submit"> <i class="fa fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="text col-md-6">
          <p>© 2018 | EC17-10 | All rights reserved.</p>
        </div>
        <div class="payment col-md-6 clearfix">
          <ul class="payment-list list-inline-item pull-right">
            <li class="list-inline-item"><img src="https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/visa.svg" alt="..."></li>
            <li class="list-inline-item"><img src="https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/mastercard.svg" alt="..."></li>
            <li class="list-inline-item"><img src="https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/paypal.svg" alt="..."></li>
            <li class="list-inline-item"><img src="https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/western-union.svg" alt="..."></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>