<div class="item row d-flex align-items-center">
  <div class="col-6">
    <div class="d-flex align-items-center">
      <% if order.product.pictures.first %>
        <%= image_tag order.product.pictures.first.image.url, class: "img-fluid" %>      
      <% else %>
        <img src="https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/shirt.png" alt="..." class="img-fluid">
      <% end %>
      <div class="title">
        <a href="detail.html">
          <h6><%= order.product.name %></h6></a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <span><%= simple_format order.created_at.strftime("%d-%m-%y\n%H:%M:%S") %></span>
  </div>
  <div class="col-2"><span><%= order.amount %></span></div>
</div>