<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h1 class="text-capitalize"><%= request.url.split("/").last %></h1>
        <p class="lead">You currently have <%= @orders.length %> item(s) in your basket</p>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="breadcrumb-item active text-capitalize"><%= request.url.split("/").last %></li>
        </ul>
      </div>
    </div>
  </div>
</section>