<%= render partial: 'carts/subheader' %>
<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <%= link_to 'Address', address_carts_path, class: "nav-link active" %>
          </li>
          <li class="nav-item"><a href="#" class="nav-link disabled">Delivery Method </a></li>
          <li class="nav-item"><a href="#" class="nav-link disabled">Order Review</a></li>
        </ul>
        <div class="tab-content">
          <div id="address" class="active tab-block">
            <div class="block-header mb-5">
              <h6>Invoice address </h6>
            </div>
            <%= form_with model: current_user, class: "content-block" do |f| %>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :full_name, class:"form-label"%>
                  <%= f.text_field :full_name, class:"form-control", placeholder: "Nguyễn Văn A" %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :username, class:"form-label"%>
                  <%= f.text_field :username, class:"form-control", placeholder: "khoahoctunhien" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :phone, class:"form-label"%>
                  <%= f.text_field :phone, class:"form-control", placeholder: "09xxxxxxxx" %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label "Street Address", class:"form-label"%>
                  <%= f.text_field :street_addr, class:"form-control", placeholder: "227 Nguyễn Văn Cừ" %>
                </div>
              </div>
              <!-- /.row-->
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <%= f.label :zip_code, class:"form-label"%>
                  <%= f.number_field :zip_code, class:"form-control", placeholder: "748417" %>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <%= f.label :district, class:"form-label"%>
                  <%= f.text_field :district, class:"form-control", placeholder: "5" %>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <%= f.label :city, class:"form-label"%>
                  <%= f.text_field :city, class:"form-control", placeholder: "TP Hồ Chí Minh" %>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <%= f.label :country, class:"form-label"%>
                  <%= f.text_field :country, class:"form-control", placeholder: "Việt Nam" %>
                </div>
              </div>
              <% end %>
            </div>
            <div>
              <%= link_to delivery_carts_path, class: "btn btn-template form-control next" do %>
              Choose delivery method
              <i class="fa fa-angle-right"></i>
              <% end %>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <%= render partial: 'carts/summary' %>
    </div>
  </div>
</div>
</section>