<%= render partial: 'carts/subheader' %>

<section class="checkout">
  <div class="container">
    <div class="confirmation-icon"><i class="fa fa-check"></i></div>
    <h2>Thank you, <%= current_user.full_name %>. Your order is confirmed.</h2>
    <p class="mb-5">Your order hasn't shipped yet but we will send you ane email when it does.</p>
    <p>
      <%= link_to 'View or manage your order', orders_path, class: "btn btn-template wide" %>
    </p>
  </div>
</section>