<%= render partial: 'carts/subheader' %>

<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <%= link_to 'Address', address_carts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Delivery Method', delivery_carts_path, class: "nav-link active" %>
          </li>
          <li class="nav-item"><a href="#" class="nav-link disabled">Order Review</a></li>
        </ul>
        <div class="tab-content">
          <div id="delivery-method" class="tab-block">
            <form action="#" class="shipping-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="radio" name="shippping" id="option1" class="radio-template">
                  <label for="option1"><strong>Usps next day</strong><br><span class="label-description">Get it right on next day - fastest option possible.</span></label>
                </div>
                <div class="form-group col-md-6">
                  <input type="radio" name="shippping" id="option2" class="radio-template">
                  <label for="option2"><strong>Usps next day</strong><br><span class="label-description">Get it right on next day - fastest option possible.</span></label>
                </div>
                <div class="form-group col-md-6">
                  <input type="radio" name="shippping" id="option3" class="radio-template">
                  <label for="option3"><strong>Usps next day</strong><br><span class="label-description">Get it right on next day - fastest option possible.</span></label>
                </div>
                <div class="form-group col-md-6">
                  <input type="radio" name="shippping" id="option4" class="radio-template">
                  <label for="option4"><strong>Usps next day</strong><br><span class="label-description">Get it right on next day - fastest option possible.</span></label>
                </div>
              </div>
            </form>
            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
              <%= link_to address_carts_path, class: "btn btn-template-outlined wide prev" do %>
                <i class="fa fa-angle-left"></i>
                Back to Address
              <% end %>
              
              <%= link_to review_carts_path, class: "btn btn-template wide next" do %>
                Review your orders
                <i class="fa fa-angle-right"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <%= render partial: 'carts/summary' %>
      </div>
    </div>
  </div>
</section>