<%= render partial: 'carts/subheader' %>

<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <%= link_to 'Address', address_carts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Delivery Method', delivery_carts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Order Review', review_carts_path, class: "nav-link active" %>
          </li>
        </ul>
        <div class="tab-content">
          <div id="order-review" class="tab-block">
            <div class="cart">
              <div class="cart-holder">
                <div class="basket-header">
                  <div class="row">
                    <div class="col-6">Product</div>
                    <div class="col-4">Buy at</div>
                    <div class="col-2">Price</div>
                  </div>
                </div>
                <div class="basket-body">
                  <!-- Product-->
                  <%= render partial: 'carts/order', collection: @orders, as: :order %>
                  <!-- Product-->
                </div>
              </div>
              <div class="total row"><span class="col-md-10 col-2">Total</span>
                <span class="col-md-2 col-10 text-primary">$<%= @total %></span></div>
            </div>
            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
              <%= link_to delivery_carts_path, class: "btn btn-template-outlined wide prev" do %>
                <i class="fa fa-angle-left"></i>
                Back to delivery method
              <% end %>

              <div id="paypal-button"></div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="block-body order-summary">
          <h6 class="text-uppercase">Order Summary</h6>
          <p>Shipping and additional costs are calculated based on values you have entered</p>
          <ul class="order-menu list-unstyled">
            <li class="d-flex justify-content-between"><span>Order Subtotal </span><strong>$<%= @total %></strong></li>
            <li class="d-flex justify-content-between"><span>Shipping and handling</span><strong>$0.00</strong></li>
            <li class="d-flex justify-content-between"><span>Tax</span><strong>$0.00</strong></li>
            <li class="d-flex justify-content-between"><span>Total</span><strong class="text-primary price-total">$<%= @total %></strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).on('turbolinks:load', function() {
  if ($('#paypal-button').length > 0) {
    if ($(".paypal-button").length == 0 ) {
      paypal.Button.render({

      env: 'sandbox',

      commit: true,

      style: {
        label: 'paypal',
        size: 'medium', // small | medium | large | responsive
        shape: 'rect', // pill | rect
        color: 'blue', // gold | blue | silver | black
        tagline: false
      },

      client: {
        sandbox: "<%= ENV['PAYPAL_CLIENT_ID'] %>",
        production: '<insert production client id>'
      },

      payment: function(data, actions) {
        return actions.payment.create({
          payment: {
            transactions: [{
              amount: {
                total: "<%= @total %>",
                currency: 'USD'
              }
            }]
          }
        });
      },

      onAuthorize: function(data, actions) {
        return actions.payment.execute().then(function(res) {
          window.alert('Payment Complete!');
          $.ajax({
            type: "POST",
            url: "/carts/success",
            data: {
              response: res
            },
            dataType: "json"
          })
          .then(function() {
            window.location.href = '/carts/confirm';
          })
        });
      },

      onCancel: function(data, actions) {
        /* 
         * Buyer cancelled the payment 
         */
      },

      onError: function(err) {
        /* 
         * An error occurred during the transaction 
         */
      }

    }, '#paypal-button');
    } 
  }
  })
</script>