<div class="row justify-content-between">
  <div class="col-md-4">
    <h2>Sign in</h2>
  </div>
  <div class="col-md-4">
    <%= link_to "Sign up", new_registration_path(resource_name) %>
  </div>
</div>

<p class="description">Sign in to your account</p>
<p id="alert"><%= alert %></p>
<hr></hr>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="item-check">
        <%= f.check_box :remember_me, id: "remember-me"%>
        <%= f.label :remember_me, class:"description" %>
      </div>
    </div>
  <% end -%>
  <div class="form-group forgot-pass">
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  </div>

  <div class="row actions justify-content-center">
    <%= f.submit "Login", class: "btn btn-login" %>
  </div>
<% end %>

