// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.order-row {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
}