// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.history-panel {
  margin-top: 10px;
  .table {
    width: 100%;
    thead,tbody,tr,td,th{
      display:block;
    }
    thead {
      th {
        float: left;
        &:last-child{
          padding-right: 28px;
        }
      }
    }
    tbody {
      width: 100%;
      max-height: 400px;
      overflow-y: auto;
      
      td{
        float: left;
      }
    }
  }
}

.contact-panel {
  margin-top: 10px;
  .form-group {
    margin-top: 10px;
    .form-control {
      border-radius: 4px;
      &.disabled {
        pointer-events: none;
      }
    }
  }
}

.countdown {
  span {
    font-size: 150%;
    color: #9055A2;
  }
}

.color-gold {
  color: gold;
}