// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-block {
  .form-control:read-only {
    background-color: transparent;
  }
  .form-control {
    padding: 12px 20px;
    border: 1px solid #ddd;
    background: none;
    border-radius: 30px;
    outline: none;
    font-weight: 300;
    &:focus {
      border-color: #9055A2;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-moz-placeholder, &:-moz-placeholder {
      color: #aaa;
      font-weight: 300;
      font-size: 0.95em;
      font-family: "Poppins", sans-serif;
    }
  }
}