<a id="submit-wish" class="btn btn-template-outlined wide">
  <i class="fa fa-heart"></i>Add to wishlist
</a>

<script type="text/javascript">
  $('#submit-wish').click(function(e) {
    $.ajax({
      type: 'POST',
      url: '/wishlists',
      data: {
        p_id: p_id
      }
    });
  })
</script>
