<a id="submit-unwish" class="btn btn-template-outlined wide">
  <i class="fa fa-heart-o"></i>Remove from wishlist
</a>

<script type="text/javascript">
  $('#submit-unwish').click(function(e) {
    $.ajax({
      url: '/wishlists/destroy',
      type: 'DELETE',
      data: {
        p_id: p_id
      }
    });
  })
</script>
