<% if @product.has_auction == 1%>
<div>
  <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row">
    <ul class="price list-inline no-margin">
        <% if @current_bid %>
          <li class="list-inline-item current">
            Current Bid: $ 
            <span id="current-bid-amount"><%= @current_bid.amount %></span>
          </li>
        <% else %>
          <li class="list-inline-item current">
            Current Bid: $ 
            <span id="current-bid-amount"><%= @product.auction_price_start %></span>
          </li>          
        <% end %>
    </ul>
  </div>
  <ul class="list-inline">
    <li class="list-inline-item current">
      <% if @product.date_end_auction <= Time.now.utc %>
        <span class="text-danger">Auction had been ended</span>
      <% else %>
        <span>Auction ended in: </span> <span id="clock" class="countdown"></span>      
      <% end %>
    </li>
  </ul>
  <ul class="row list-inline">
    <li class="list-inline-item col-6">
      <input type="number" step="0.01" class="form-control" 
             name="bid-amount" placeholder="Place bid"/>
    </li>
    <li class="list-inline-item">
      <button class="btn btn-template" id="submit-bid">Place bid</button>
    </li>
  </ul>
  <ul class="row list-inline">
    <li class="list-inline-item col-6">
      <input type="number" step="0.01" class="form-control" 
             name="auto-bid-amount" placeholder="Place maximum bid"/>
    </li>
    <li class="list-inline-item">
      <button class="btn btn-info" id="submit-auto-bid">Automate bid</button>
    </li>
  </ul>
  <div class="row">
    <p name="bid-errors" class="alert alert-danger col-8 hidden"></p>
  </div>
</div>
<% end %>

<script>
  $(document).on('turbolinks:load', function(){
    $('#clock').countdown("<%= @product.date_end_auction %>", function(event) {
      var $this = $(this).html(event.strftime(' '
        + '<span>%d</span> days '
        + '<span>%H</span> hr '
        + '<span>%M</span> min '
        + '<span>%S</span> sec'));
    });
  })
</script>