<table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-1">#</th>
      <th class="col-4">Bidder</th>
      <th class="col-2 text-right">Amount</th>
      <th class="col-5 text-right">Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @bids.each_with_index do |bid, index| %>
      <tr>
        <td scope="row" class="col-1"><%= index + 1 %></td>
        <td class="col-4">
          <%= link_to bid.buyer.username, 
                      user_path(bid.buyer.id),
                      target: "_blank" %>
          <% if index == 0 %>
            <i class="fa fa-trophy color-gold"></i>
          <% end %>
        </td>
        <td class="col-2 text-right"><%= bid.amount %></td>
        <td class="col-5 text-right">
          <%= (bid.created_at + 7.hours).strftime("%Y-%m-%d %H:%M:%S") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

