<div>
  <strong>Seller: </strong>
  <%= link_to @product.seller.username, user_path(@product.seller.id) %>
</div>
<div class="row">
  <div class="col-8 form-group">
    <textarea rows="4" class="form-control" 
              placeholder="Ask a question"
              id="question"></textarea>
  </div>
   <div class="col-4 form-group">
    <button class=" form-control btn btn-primary" id="contact-seller">Send to seller</button>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function(){
    $('#contact-seller').click(function(e) {
      var question = $("#question").val();
      $.post("/users/<%= @product.seller.id %>/contact", {
        question: question
      }).then(function(){
        $(e.target).addClass("disabled")
        $(e.target).parent().parent()
        .append("<div class='col text-success'>Send to seller successfully.</div>")
      }).catch(function(){
        $(e.target).parent().parent()
        .html("<div class='col text-danger'>An error has occur.</div>")        
      })
    })
  })
</script>