	
	<style type="text/css">
		label{
			font-weight: bold;
		}
	</style>
	<%= form_with model: @product,:html => { :multipart => true } do |f|%>
		
		<%= f.hidden_field :seller,class: "form-control", :value=>@currentuser%>

		<div class="form-group">
			<label class="label-control">
				Name
			</label>
			<%= f.text_field :name,class: "form-control",required: "true", placeholder:"Xiaomi Redmi Note4x"%>

		</div>
		<div class="form-group">
			<label class="label-control">
				Category
			</label>
		

		<%= f.select :cateid, options_for_select(@category.map{ |c| [c.name, c.id, {'data-id'=>c.id}] }, selected_key = f.object.cateid) %>
		</div>
		
		<div class="form-group">
			<label class="label-control">
				Condition
			</label>
			<%= f.label :condition, "New", :value => "1"  %>
			    <%= f.radio_button :condition, "1" %>
			 <%= f.label :condition, "Old", :value => "0" %>
			    <%= f.radio_button :condition, "0" %>

		</div>

		<div  class="form-group">
			<label class="label-control">
				Has auction?
			</label>
			 	<%= f.label :has_auction, "Yes", :value => "1"  %>
			    <%= f.radio_button :has_auction, "1" %>
			    <%= f.label :has_auction, "No", :value => "0" %>
			    <%= f.radio_button :has_auction, "0" %>

		</div>
		<div id="auction_area" style="display: none">
			<div class="form-group">
				<label class="label-control">
					Start price
				</label>
				<%= f.number_field :auction_price_start,class: "form-control", placeholder:"20"%>

			</div>

			<div class="form-group">
				<label class="label-control">
					DateEndAuction
				</label>
				

            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    
                    <%= f.text_field :date_end_auction,class: "form-control",data: { date_format: 'YYYY/MM/DD HH:mm' } %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        

			</div>
		</div>
		<div class="form-group">
			<label class="label-control">
				Has buy now?
			</label>
			  
			    <%= f.label :has_buy_now, "Yes", :value => "1"  %>
			    <%= f.radio_button :has_buy_now, "1" %>
			    <%= f.label :has_buy_now, "No", :value => "0" %>
			    <%= f.radio_button :has_buy_now, "0" %>
		</div>
		<div id="buy_area" style="display: none">
			<div class="form-group">
				<label class="label-control">
					Price
				</label>
				<%= f.number_field :price_for_buy,class: "form-control", placeholder:"20"%>

			</div>
		</div>
		<div class="form-group">
			<label class="label-control">
				Description
			</label>
			<%= f.text_area :description,class: "form-control",required: "true", placeholder:"Xiaomi Redmi Note4x"%>

		</div>

		<div class="form-group">
			<label class="label-control">
				Details
			</label>
			<%=f.cktext_area :details,required: "true", id: 'details'%>


		</div>
		<div class="form-group">
			<%= f.label :pictures, :class => 'control-label' %>
			
			
		
			<%= file_field_tag "images[]", type: :file, accept: 'image/png,image/jpeg,image/jpg',multiple: true %>
		</div>



		<button type="submit" class="btn btn-primary">Create/Update</button>

		<div class="clearfix"></div>

		

	<% end%>

	<script>	
		$(document).ready(function()
		{

			$("input:radio[name='product[has_auction]']").change(function(){
			    if($(this).val() == '1'){
			       $('#auction_area').css("display","block");
   				}
   				else{
   					 $('#auction_area').css("display","none");
   				}
			});

			$("input:radio[name='product[has_buy_now]']").change(function(){
			    if($(this).val() == '1'){
			       $('#buy_area').css("display","block");
   				}
   				else{
 					$('#buy_area').css("display","none");
   				}
			});

			//for edit

			
			if($("input:radio[name='product[has_auction]']:checked").val()=='1')
			{
				 $('#auction_area').css("display","block");
			}

			if($("input:radio[name='product[has_buy_now]']:checked").val()=='1')
			{
				 $('#buy_area').css("display","block");
			}


		});
	</script>

<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>