<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <img class="card-img-top" src="<%= product.coverimage.url(:medium) %>" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><%= product.name %></h4>
      <h6 class="card-subtitle mb-2 text-muted">Seller Name</h6>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text">Auction price: <%= product.auction_price_start %></p>
      <a href="#" class="card-link">View Details</a>
    </div>
  </div>
</div>