<section class="men-collection gray-bg">
  <div class="container">
    <header class="text-center">
      <h2 class="text-uppercase"><small>Similar Items</small>You may also like</h2>
    </header>
    <div class="row">
    <% if @products.length > 0 %>
      <% @products.each do |product| %>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="product is-gray">
          <div class="image d-flex align-items-center justify-content-center">
          <% if product.pictures.first %>
            <%= image_tag product.pictures.first.image.url, class: "img-fluid" %>
          <% else %>
            <img src="https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/hoodie-man-1.png" alt="product" class="img-fluid">          
          <% end %>
            <div class="hover-overlay d-flex align-items-center justify-content-center">
              <div class="CTA d-flex align-items-center justify-content-center">
                <a href="#" class="add-to-cart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
                <%= link_to detail_product_path(product), class: "visit-product active" do %>
                  <i class="icon-search"></i>
                  View
                <% end %>
                <a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view">
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="title">
            <%= link_to detail_product_path(product) do %>
              <h3 class="h6 text-uppercase no-margin-bottom"><%= product.name %></h3>
            <% end %>
            <span class="price text-muted">
              <% if product.price_for_buy %>
                  <% if product.price_for_buy > 0 %>
                    $<%= product.price_for_buy %>
                  <% else %>
                    Bid only
                  <% end %>
                <% end %>
              </span>
          </div>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>No results found.</p>
    <% end %>
    </div>
  </div>
</section>