<section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h1><%= @product.name %></h1>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
          <li class="breadcrumb-item active"><%= @product.name %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="product-details">
  <div class="container">
    <div class="row">
      <div class="product-images col-lg-6">
        <div class="ribbon-info text-uppercase">Fresh</div>
        <div class="ribbon-primary text-uppercase">Sale</div>
        <div data-slider-id="1" class="owl-carousel items-slider">
          <% @product.pictures.each do |p| %>
            <div class="item"><%= image_tag p.image.url %></div>          
          <% end %>
        </div>
        <div data-slider-id="1" class="owl-thumbs d-flex align-items-center justify-content-center">
          <% @product.pictures.each do |p| %>
            <button class="owl-thumb-item"><%= image_tag p.image.url %></button>          
          <% end %>
        </div>
      </div>
      <div class="details col-lg-6">
        <h2><%= @product.name %></h2>
        <%= render 'bid' %>
        <p>Description: <br/>
        <%= @product.description %>
        </p>
        <ul class="CTAs list-inline">
          <% if @product.has_buy_now == 1 %>
          <li class="list-inline-item">
            <a id="submit-buy" class="btn btn-template wide">
              <i class="icon-cart"></i>
                Buy now with $<%= @product.price_for_buy %>
            </a>
          </li>
          <% end %>
          <% if @wishlist %>
            <li class="list-inline-item">
              <a id="submit-unwish" class="btn btn-template-outlined wide">
                <i class="fa fa-heart-o"></i>Remove from wishlist
              </a>
            </li>
          <% else %>
            <li class="list-inline-item">
              <a id="submit-wish" class="btn btn-template-outlined wide">
                <i class="fa fa-heart"></i>Add to wishlist
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <hr/>
    <div class="row ">
      <div class="col-6 history-panel">
        <h5>Bidding History</h5>
        <div id="history-panel">
          <%= render 'bid_history' %>
        </div>
      </div>
      <div class="col-6 contact-panel">
        <h5>Contact Seller</h5>
        <%= render 'contact' %>
      </div>
    </div>
  </div>
</section>

<%= render 'similar_item' %>