<section class="hero hero-home no-padding">
  <div class="owl-carousel owl-theme hero-slider">
    <div style="background: url(&quot;https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/hero-bg-3.jpg&quot;);"
      class="item d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-white">
            <h1>DEAL WITH IT</h1>
            <p class="lead">
              You won't be able to resist all these offers
            </p>
            <a id="auction" class="btn btn-template wide shop-now">
              Explore Auction Feature
              <i class="icon-bag"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="background: url(&quot;https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/hero-bg.jpg&quot;)"
      class="item d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1>TREND MASTERCLASS</h1>
              <p class="lead">
                Get the look to turn heads in stylish pieces 
              </p>
              <a id="buynow" class="btn btn-template wide shop-now">
                Explore Buy Now Feature
                <i class="icon-bag"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div style="background: url(&quot;https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/hero-bg-2.jpg&quot;); " 
           class="item d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-white">
              <h1>SHOP SMART</h1>
              <p class="lead">
                Get ahead with the cleverest products around & free shipping
              </p>
              <a href="#" class="btn btn-template wide shop-now">
                Shop Now
                <i class="icon-bag"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="categories">
    <div class="container">
      <header class="text-center">
        <h2 class="text-uppercase">
        <small>Top for this month</small>
        Our Featured Picks
        </h2>
      </header>
      <div class="row text-left">
        <div class="col-lg-4">
          <%= link_to category_path(@categories.fourth.name) do %>
            <div style="background-image: url(http://kinbechpokhara.com/wp-content/uploads/2017/06/samsung-galaxy-s8-plus.png);"
              class="item d-flex align-items-end">
              <div class="content">
                <h3 class="h5"><%= @categories.fourth.name %></h3>
                <span>New Collection</span>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-4">
          <%= link_to category_path(@categories.first.name) do %>
            <div style="background-image: url(https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/banner-2.jpg);"
              class="item d-flex lign-items-end">
              <div class="content">
                <h3 class="h5"><%= @categories.first.name %></h3>
                <span>New Collection</span>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-4">
          <%= link_to category_path(@categories.second.name) do %>
            <div style="background-image: url(https://png.pngtree.com/element_origin_min_pic/17/03/23/093b2407b7b8bcdd7f8b36066759b1fc.jpg);" class="item d-flex align-items-end">
              <div class="content">
                <h3 class="h5"><%= @categories.second.name %></h3>
                <span>Sale of 20%</span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <%# Auction %>
  <section id="auction-section" class="men-collection gray-bg">
    <div class="container">
      <header class="text-center">
        <h2 class="text-uppercase">
          <small>Listing Auction</small>
          Our Collection
        </h2>
      </header>
      <div class="owl-carousel owl-theme products-slider">
        <% @auctions.each do |product| %>
        <div class="item">
          <div class="product is-gray">
            <div class="image d-flex align-items-center justify-content-center">
              <% if product.pictures.first %>
                <%= image_tag product.pictures.first.image.url, class: "img-fluid" %>
              <% else %>
                <img src="https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/hoodie-man-1.png" alt="product" class="img-fluid">
              <% end %>
              <div class="hover-overlay d-flex align-items-center justify-content-center">
                <div class="CTA d-flex align-items-center justify-content-center">
                  <a href="#" class="add-to-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <%= link_to detail_product_path(product), class: "visit-product active" do %>
                  <i class="icon-search"></i>
                  View
                  <% end %>
                  <a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view">
                    <i class="fa fa-arrows-alt"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="title">
              <%= link_to detail_product_path(product) do %>
              <h3 class="h6 text-uppercase no-margin-bottom"><%= product.name %></h3>
              <% end %>
              <span class="price text-muted">
                <% if product.price_for_buy %>
                  <% if product.price_for_buy > 0 %>
                    $<%= product.price_for_buy %>
                  <% else %>
                    Bid only
                  <% end %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  
  <%# Buynow %>
  <section id="buynow-section" class="men-collection gray-bg">
    <div class="container">
      <header class="text-center">
        <h2 class="text-uppercase">
          <small>Listing Buy Now</small>
          Our Collection
        </h2>
      </header>
      <div class="owl-carousel owl-theme products-slider">
        <% @buynows.each do |product| %>
        <div class="item">
          <div class="product is-gray">
            <div class="image d-flex align-items-center justify-content-center">
              <% if product.pictures.first %>
                <%= image_tag product.pictures.first.image.url, class: "img-fluid" %>
              <% else %>
                <img src="https://d32d8xzgnjxuvk.cloudfront.net/hub/1-2/img/hoodie-man-1.png" alt="product" class="img-fluid">
              <% end %>
              <div class="hover-overlay d-flex align-items-center justify-content-center">
                <div class="CTA d-flex align-items-center justify-content-center">
                  <a href="#" class="add-to-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <%= link_to detail_product_path(product), class: "visit-product active" do %>
                  <i class="icon-search"></i>
                  View
                  <% end %>
                  <a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view">
                    <i class="fa fa-arrows-alt"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="title">
              <%= link_to detail_product_path(product) do %>
              <h3 class="h6 text-uppercase no-margin-bottom"><%= product.name %></h3>
              <% end %>
              <span class="price text-muted">
                <% if product.price_for_buy %>
                  <% if product.price_for_buy > 0 %>
                    $<%= product.price_for_buy %>
                  <% else %>
                    Bid only
                  <% end %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>