<section class="hero hero-page gray-bg padding-small">
	<div class="container">
		<h1>New Product</h1>
		<div class="row">
			<div class="col-xl-8 col-lg-10 col-md-12">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</section>
