
   <br>
    <input type="hidden" id="productID" value="<%= @product.id %>">

  <div class="container" >
    <div class="row">
    <div class="col-sm-9 col-md-9">
      <h1 style="font-weight: bold">Product Detail -  <%= @product.name %></h1>
    </div>
   
    <div class="col-sm-3 col-md-3">
      
         <div class="form-actions">
       <!--    <%= link_to 'Back', product_path(), :class => 'btn btn-primary'  %> -->
          <a href="/" class="btn btn-primary">Back</a>
          <%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-warning' %>
          <%= link_to 'Delete', product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
        </div>
   
    </div>
  </div>
  </div>
    
<hr>

  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <b>Name</b>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <%= @product.name %>
      </div>
      
     
      
    </div>
     <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <b>Category</b>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <%= @category.name %>
      </div>
      
     
      
    </div>
    <br>
     <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <b>Condition</b>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <% if @product.condition==0 %>
          <p>Cũ</p>
        <% else %>
          <p>Mới</p>
        <% end %>
      
      </div> 
      
    </div>

    <br>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <b>Description</b>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <%= @product.description %>
      </div>
      
      
    </div>

    <br>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <b>Details</b>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <%= @product.details.html_safe  %>
      </div>
      
      
    </div>

<br>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <b>Date Add</b>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <%= @product.date_in  %>
      </div>
      
      
    </div>
<br>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <b>Seller</b>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
       
        <a href="#"> <%= @seller.email  %></a>
      </div>
      
      
    </div>


<br>
     <div class="row">
      <div class="col-md-12">
        <b>Auction Infomation</b>
      </div>

      <ul>
        <li>Price for buy:  $<%= @product.price_for_buy %></li>
        <li>Price for auction:  $<%= @product.auction_price_start %></li>
        <li>Date end auction:  <%= @product.date_end_auction %></li>
      </ul>
      
    </div>

  <br>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <b>List images</b>
      </div>
     
       <ul class="thumbnails files">
        <% unless @pictures.empty? %>
          <% @pictures.each do |pic| %>
            <li class="span3" id="picture_<%= pic.id %>">
            <div class="thumbnail">
              <%= image_tag pic.image.url,:style => "width:100%;" %>
              <div class="caption">

                <p style="text-align: center;">
               <!--  <%= link_to "Edit", picture_path(pic) %> -->

                <%=
                  link_to "Delete", pic,
                    :data => { :confirm => "Are you sure?" },
                    :method => :delete
                  %>

                </p>
              </div>
            </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      
    </div>

  </div>
    




