<!DOCTYPE html>
<html>
  <head>
    <title>OdunAuction</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.js"></script>
    <%= javascript_include_tag 'thumbs/thumbs', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <%= render 'commons/header'%>
    <%= render 'commons/notice' %>
    <div class="container-fluid main-container">
      <%= yield %>
    </div>
    <%= render 'commons/footer'%>
  </body> 
</html>
