<!DOCTYPE html>
<html>
  <head>
    <title>OdunAuction</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'auction.png' %>
  </head>

  <body>
    <div class="login-pg">
      <h2 class="banner">ODUNAUCTION</h2>
      <div class="login-box">
        <%= yield %>
      </div>
    </div>
  </body>
</html>


